@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: black;
  font-family: "Montserrat";
  font-weight: normal;
  box-shadow: inset 0px 0px 100px 30px rgba(62, 182, 168, 0.322);
}
h1 {
  margin-bottom: 1rem;
}
h2 {
  margin-bottom: 0.5rem;
  font-weight: normal;
}

p {
  line-height: 1.5rem;
  font-weight: lighter;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.titancard {
  background-color: rgba(31, 41, 55,0.5);
  border: rgb(31 41 55) 2px solid;
  border-radius: 5px;
}

button.bg-turq-custom-500 {
  background: rgb(39, 131, 120)
}

.invent-row {
  place-content: flex-start;
}

.invent-row > img {
  margin-right:10px;
  border: black 1px solid;
  border-radius:0.3em;
}

